body {
    --color-primary: #3749e7;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;
  
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #3749e7;
    background-size: cover;
  }

.pricing-container {
    margin: 40px auto;
    width: 80%;
}

.pricing-container h2 {
    text-align: center;
}

.pricing-table {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.plan {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 200px;
}

.plan h3 {
    margin-bottom: 10px;
    color: #3498db;
}

.plan p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.plan ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.plan ul li {
    margin-bottom: 10px;
}

.subscribe-btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.subscribe-btn:hover {
    background-color: #2980b9;
}